<html>
    <head>
        <title> Add a Recipe </title>
        <script src="@Url.Content("/js/recipeFormJS.js")"></script>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/bootstrap/bootstrap.css")" media="screen"/>
        <!---<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/recipeFormStyles.css")" media="screen" />-->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/recipeFormStyles.css")" media="screen" />

    </head>
    <body>
        <div class="jumbotron text-center"> 
            <container> 
                <h1>Add Ingredients</h1>
            </container>
        </div>

        <form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ingredients
                </div>
                <div class="panel-body">
                    <div id="ingredients">
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredients"><br>
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredients"><br>
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredients"><br>
                        <input type="text" class="form-control" placeholder="Ingredient" name="ingredients"><br>
                    </div>
                    <input type="button" class="btn" value="Add Another Ingredient" onClick="addInput('ingredients', 'Ingredient');"><br>
                </div>
            </div>
            <div class="text-center">
                    <input type="submit" class="btn btn-lg" value="Submit Form">
            </div> 
       </form>
    </body>
</html>
